.main {
    width: 95%;
    min-width: 500px;
    max-width: 1000px;
    margin: 30px auto 0;
    border-radius: 10px;
}

.dataRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.dataElement {
    border: 1px solid transparent;
    border-image: repeating-linear-gradient(
      to right,
      #a2682a 0%,
      #be8c3c 8%,
      #be8c3c 18%,
      #d3b15f 27%,
      #faf0a0 35%,
      #ffffc2 40%,
      #faf0a0 50%,
      #d3b15f 58%,
      #be8c3c 67%,
      #b17b32 77%,
      #bb8332 83%,
      #d4a245 88%,
      #e1b453 93%,
      #a4692a 100%
    )
    1;
    border-radius: 10px;
    background-color: #333;
    padding: 10px;
}

.storyText {
    color: #fff;
    line-height: 1.5;
    text-align: center;
    font-size: 20px;
}

.initialGraph {
    width: 64%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.otherMedia {
    width: 35%;
}

.storyText {
    display: flex;
    flex-direction: row;
}

.transitionText {
    padding: 30px;
    margin-top: 50px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}


@media screen and (max-width: 1062px) {
    .responsiveCell {
        display: flex;
        flex-direction: column;
    }   
}

.descriptorText {
    color: white;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}
.graphDescriptor {
    margin-right: 1%;
    width: 100%;
    height: 100%;
    padding: 20px;
}